
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
automation noedit: !include automations_with_secrets.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# https://www.home-assistant.io/integrations/decora_wifi
light:
  - platform: decora_wifi
    username: !secret leviton_email
    password: !secret leviton_password

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

notify:
  - name: ALL_DEVICES
    platform: group
    services:
      - action: mobile_app_purple_pixel

rest:
  - resource: http://192.168.86.65/json/report
    timeout: 30
    scan_interval: 60
    sensor:
      - name: "Meshtastic Home Uptime"
        unique_id: meshtastic_home_uptime
        value_template: "{{ value_json.data.airtime.seconds_since_boot }}"
        unit_of_measurement: s

      - name: "Meshtastic Reboot Count"
        unique_id: meshtastic_reboot_count
        value_template: "{{ value_json.data.device.reboot_counter | int }}"

      - name: "Meshtastic Heap Free"
        unique_id: meshtastic_heap_free
        value_template: "{{ value_json.data.memory.heap_free }}"
        unit_of_measurement: B

      - name: "Meshtastic Heap Total"
        unique_id: meshtastic_heap_total
        value_template: "{{ value_json.data.memory.heap_total }}"
        unit_of_measurement: B

      - name: "Meshtastic RAM Free"
        unique_id: meshtastic_ram_free
        value_template: "{{ value_json.data.memory.psram_free }}"
        unit_of_measurement: B

      - name: "Meshtastic RAM Total"
        unique_id: meshtastic_ram_total
        value_template: "{{ value_json.data.memory.psram_total }}"
        unit_of_measurement: B

      - name: "Meshtastic Channel Utilization"
        unique_id: meshtastic_channel_utilization
        value_template: "{{ value_json.data.airtime.channel_utilization }}"
        unit_of_measurement: "%"

      - name: "Meshtastic Transmit Utilization"
        unique_id: meshtastic_transmit_utilization
        value_template: "{{ value_json.data.airtime.utilization_tx }}"
        unit_of_measurement: "%"

mqtt: !include meshtastic_mqtt.yaml
