
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
automation noedit: !include automations_with_secrets.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# https://www.home-assistant.io/integrations/decora_wifi
light:
  - platform: decora_wifi
    username: !secret leviton_email
    password: !secret leviton_password

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

notify:
  - name: ALL_DEVICES
    platform: group
    services:
      - action: mobile_app_purple_pixel

sensor:
  - platform: rest
    resource: http://192.168.86.65/json/report
    unique_id: meshtastic_home_uptime
    name: "Meshtastic Home Uptime"
    unit_of_measurement: s
    timeout: 20
    scan_interval: 60
    value_template: "{{ value_json.data.airtime.seconds_since_boot }}"

mqtt: !include meshtastic_mqtt.yaml
